<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="接口自动化测试" verbose="1" preserve-order="true" parallel="false">
	<test name="自动化测试用例">
		<parameter name="excelPath" value="case/api-data.xls"></parameter>
		<parameter name="sheetName" value="Sheet1"></parameter>
		<classes>
			<class name="test.com.sen.api.ApiTest">
				<methods>							
					<include name="apiTest"></include>
				</methods>
			</class>	
		</classes>
	</test>
	<listeners>	
		<listener class-name="com.sen.api.listeners.AutoTestListener"></listener>
		<listener class-name="com.sen.api.listeners.RetryListener"></listener>
		<!-- ReportNg 报告  -->	
		<!--  
		<listener class-name="org.uncommons.reportng.HTMLReporter"></listener>
		<listener class-name="org.uncommons.reportng.JUnitXMLReporter"></listener> 
		-->
		<!-- ExtentReport 报告  -->
		<listener class-name="com.sen.api.listeners.ExtentTestNGIReporterListener"></listener>
	</listeners>
</suite> 
